{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign UP {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    <a href="#" target="_blank">{{ current_user.username }}님의 계정</a>
                                </h1>
                                <br />
                                <span class="font-weight-normal">
                                    {% if msg %}
                                        {{ msg | safe }}
                                    {% else %}
                                    {% endif %}                                  
                                </span>
                            </div>
                            <form method="post" action="" action="#">

                                {{ form.hidden_tag() }}

                                <h5 align="center"> 비밀번호 재설정 </h5>
                                <br>

                                <div class="form-group mb-4">
                                    <label for="password">새로운 비밀번호</label>
                                    <div class="input-group" id="password">
                                        <span class="input-group-text" id="basic-addon1"><span class="fas fa-unlock-alt"></span></span>
                                        {{ form.password(class="form-control", type="password") }}
                                    </div>  
                                </div>
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="password2">비밀번호 재입력</label>
                                    <div class="input-group" id="password2">
                                        <span class="input-group-text" id="basic-addon3"><span class="fas fa-unlock-alt"></span></span>
                                        {{ form.password2(class="form-control", type="password") }}
                                    </div>  
                                </div>
                                <div class="d-grid">
                                    <button type="submit" name="change" class="btn btn-primary">재설정 완료</button>
                                </div>
                            </form>
                            
                            <br />
                            <div class="d-grid">
                                <a href="{{ url_for('index') }}"
                                    class="btn btn-outline d-none d-lg-inline me-md-3">메인 페이지로 돌아가기</a>
                            </div>
                            <br>
                            <div class="d-grid">
                            <button class="btn btn-danger d-none d-lg-inline me-md-3" onclick="withdraw()"> 계정 탈퇴하기 </button>
                            </div>

                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    &copy; 만든이: 김민우
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script>
            $(document).ready(function(){
                });
            function withdraw() {
                $.ajax({
                    url:'/withdraw',
                    contentType : 'application/json',
                    method:'DELETE'
                }).done(function(res){
                    window.location = res;
                });
            };
        </script>

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
