    <footer class="footer pt-6 pb-5 bg-dark text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4">
                    <span class="h5">매화수, KAIST 학부 졸업 길라잡이</span>
                    <p class="text-white font-small mb-0">매화수는 KAIST의 학부 졸업 사정을 관리하고, 학업 계획을 도와주는 프로그램입니다. 매화수의 모든 코드는 Github에 공개되어 있습니다.</p>
                    <ul class="social-buttons mb-0 mb-lg-0">
                        <li>
                            <a href="https://github.com/MinuKim-KAIST/UCE-KAIST" aria-label="github social link" class="icon-white me-2">
                                <span class="fab fa-github"></span> Github 소스코드
                            </a>
                        </li>
                    </ul>
                    <p class="text-white font-small mb-5">공개 전환 이전에 보안 확인 작업을 진행중입니다. 보안상의 문제가 없으면 공개할 예정입니다.</p>
                </div>
                <div class="col-12 col-md-4"></div>
                <div class="col-12 col-md-4">
                    <span class="h5">매화수 함께 개발하기</span>
<!--                    <p class="text-muted font-small mb-0">매화수 개발에 동참하고 싶다면, 아래 이메일(김민우, minu.kim@kaist.ac.kr)로 연락주세요.</p>-->
                    <p class="text-muted font-small mb-1">베타 버전 테스트가 끝난 이후, 매화수를 함께 개발할 분들을 공개적으로 모집할 예정입니다.</p>
                    <p class="text-muted font-small mb-0">매화수는 모든 사용자의 정보를 익명으로 처리합니다.</p>
                    <ul class="social-buttons mb-5 mb-lg-0">
                        <li>
                            <a href="/privacy" aria-label="link" class="icon-white me-2">
                                <span class="fas fa-shield-alt"></span> 개인정보 보호방침
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="bg-secondary">
            <div class="row">
                <div class="col mb-md-0">
                    <p class="text-white text-muted font-small mb-0 text-center">개발자: KAIST 수리과학과 학사과정 김민우</p>
                    <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                        <p class="fw-normal font-small mb-0">
                            &copy; Minu Kim(minu.kim@kaist.ac.kr)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>