
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark">
            <div class="container position-relative">
                <a class="navbar-brand me-lg-5" href="{{ url_for('index') }}">
                    <img class="navbar-brand-dark" src="/static/assets/img/brand/light.svg" alt="Logo light">
                    <img class="navbar-brand-light" src="/static/assets/img/brand/dark.svg" alt="Logo dark">
                </a>
                <div class="navbar-collapse collapse me-auto" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="./index.html">
                                    <img src="/static/assets/img/brand/dark.svg" alt="Logo">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('index') }}"></a></li>
                    </ul>
                    {% if current_user.is_authenticated %}
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                        <li class="nav-item"><a href="{{ url_for('course_add') }}" class="nav-link"> 과목 추가하기 </a></li>
                        <li class="nav-item"><a href="{{ url_for('course_view') }}" class="nav-link"> 수강 과목 목록 </a></li>
                        <li class="nav-item"><a href="{{ url_for('course_analysis') }}" class="nav-link"> 졸업 요건 분석 </a></li>
                        <li class="nav-item"><a href="{{ url_for('techtree') }}" class="nav-link"> 과목 추천 시스템 <span class="badge bg-secondary" >NEW</span> </a></li>
                    </ul>
                    {% endif %}
                </div>
                <div class="d-flex align-items-center">
                    {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}"
                       class="btn btn-outline-gray-100 d-none d-lg-inline me-md-3"><span class="fas fa-sign-in-alt me-2"></span> 로그인</a>
                    {% else %}
                    <a href="{{ url_for('reset_password') }}" style="color: white"> {{ current_user.username }} 님 &nbsp;&nbsp;&nbsp;</a>
                    <a href="{{ url_for('logout') }}"
                       class="btn btn-outline-gray-100 d-none d-lg-inline me-md-3"><span class="fas fa-sign-out-alt me-2"></span> 로그아웃</a>
                    {% endif %}
                    <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

