{% extends "layouts/base.html" %}

{% block title %} 매화수 사용 설명서 {% endblock %}


{% block content %}

<!-- Specific Page CSS goes HERE  -->

    <main>
        
        {% include 'includes/preloader.html' %}

        <!-- Hero -->
        <section class="section-header pb-3 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-3">매화수 사용 설명서</h1>
                        <p class="lead mb-5">하나뿐은 KAIST 학부 졸업 길라잡이, 매화수</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-12">



                    </div>
                </div>
            </div>
        </section>

    </main>


{% include 'includes/footer.html' %}
{% endblock content %}
